In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv("./test_gr/test.csv")
df.head()

,review_id,title,year,user_review
0,1603,Counter-Strike: Global Offensive,2015.0,"Nice graphics, new maps, weapons and models. B..."
1,1604,Counter-Strike: Global Offensive,2018.0,I would not recommend getting into this at its...
2,1605,Counter-Strike: Global Offensive,2018.0,Edit 11/12/18I have tried playing CS:GO recent...
3,1606,Counter-Strike: Global Offensive,2015.0,The game is great. But the community is the wo...
4,1607,Counter-Strike: Global Offensive,2015.0,I thank TrulyRazor for buying this for me a lo...

In [6]:
df.describe()

          review_id         year
count   8045.000000  7978.000000
mean   13524.086016  2016.166207
std     6660.189112     1.320688
min     1603.000000  2011.000000
25%     7685.000000  2015.000000
50%    14066.000000  2016.000000
75%    20375.000000  2017.000000
max    25202.000000  2018.000000